// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "resources/assets/sass/bourbon/app/assets/stylesheets/bourbon";
@import "resources/assets/sass/neat/app/assets/stylesheets/neat";
@import "resources/assets/sass/bitters/app/assets/stylesheets/base";
@import "resources/assets/sass/bitters/app/assets/stylesheets/grid-settings";
@import "resources/assets/sass/font-awesome/scss/font-awesome.scss";

/** for autocomplete widget **/

.autocomplete-suggestions {
    border: 1px solid #999;
    background: #FFF;
    overflow: auto;

    & strong {
        font-weight: normal; color: #3399FF;
    }
}

.autocomplete-suggestion {
    padding: 2px 5px;
    white-space: nowrap;
    overflow: hidden;
}

.autocomplete-selected {
    background: #F0F0F0;
    cursor: pointer;
}

.autocomplete-group {
    padding: 2px 5px;

    & strong {
        display: block; border-bottom: 1px solid #000;
    }
}

#dash-container {

    @include outer-container;

    input[type="text"] {
        @include span-columns(7);
        border-top: none;
        border-left: none;
        border-right: none;
        border-radius: none;
        -webkit-border-radius: none !important;
        box-shadow: none;
        text-align: center;

        &:focus {
            outline: none !important;
        }
    }

    button {
        @include shift(3);
        clear: both;
        float: left;
    }

    .searchForm {
        @include span-columns(9);
        @include shift(3);
        margin-top: 100px;

        .form-group {
            position: relative;
        }

        .form-group {

            i.fa {
                margin-top: 5px;
                position: absolute;
                z-index: 100;
            }

        }
    }

    #error {
        @include span-columns(6);
        @include shift(3);
        text-align: center;
        color: red;
    }

    .resultList {
        @include span-columns(5);
        @include shift(3);
        padding: 5px;
    }

}
